* {
    font-family: "MesloLGS Nerd Font", "Sans";
    font-size: 16px;
    /* увеличенный шрифт */
    border-radius: 10px;
    padding: 6px;
    color: #cdd6f4;
}

window {
    all: unset;
}

/* single notification */
.notification {
    background-color: #313244;
    border: 1px solid #89b4fa;
    margin: 8px;
}

.notification.critical {
    border-left: 4px solid #f38ba8;
}

/* control center */
.control-center {
    background-color: #1e1e2e;
    border: 2px solid #89b4fa;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.control-center .notification {
    background-color: #313244;
    border: 1px solid #89b4fa;
    margin: 8px;
}
